#page-container{
    width: 774px;
}

#header img{
    width: 774px;
    height: 79px;
}

/* #header{
    background-image: url(../images/141_Lab_2_banner.png);
    width: 774px;
    height: 79px;
} */

#sidebar{
    float: right;
    width: 171px;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    margin: 20px;
}

#content{
    width: 515px;
    border-style: solid;
    border-width: 2px;
}